@import url(/fonts.css);

* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #101010;
}

header {
    background-color: #2A2A2A;
    
    background-image: url(/img/1338843.png);
    background-size: 80rem;
    background-position: 75px;
    filter: saturate(1.2);
}

html {
    scroll-behavior: smooth;
}
.logo {
    width: 30px;
    filter: invert(43%) sepia(15%) saturate(1978%) hue-rotate(100deg) brightness(95%) contrast(86%);
    cursor: pointer;
}

.logoTitle {
    color: #fff;
    font-family: 'Cinzel', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.leftSide {
    display: flex;
    gap: 16px;
    height: 100%;
    margin: 21px 0 0 70px;
}

.rightSide {
    display: flex;
    gap: 20px;
    margin: 21px 70px 0 0;
}

#index {
    color: #cfcfcf;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

#apresentation {
    color: #fff;
    margin: 200px 0 0 70px;
}

#bar {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% {opacity: 0;}
}

.contactMe {
    margin-top: 20px;
    height: 43px;
    width: 131px;
    background-color: #009D66;
    color: #fff;
    border: none;
    border-radius: 2%;
    font-size: medium;
    cursor: pointer;
}

a .contactMe:hover {
        background-color: #00754c;
        transition: all 200ms ease-in-out; 
}

#info {
    display: flex;
    margin: 125px 0 0 70px;
    gap: 50px;
}

#email #phone #location{
    display: flex;
    flex-direction: column;
}

h4 {
    color: #fff;
}

#profilePicture {
    width: 287px;
    margin: 65px 0 50px 216px;
    filter: contrast(1.0) hue-rotate(349deg) saturate(0.5) url(#purple-sepia);

}

.aboutMe {
    display: flex;
}

.myLife {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 16px;
    margin: 72px 0 0 28px;
    
}

.cvArea {
    display:grid;
    grid-template-columns: 50px 1fr 50px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.viewMore{
    margin-top: 10px;
    height: 35px;
    width: 150px;
    background-color: #009D66;
    color: #fff;
    border: none;
    border-radius: 2%;
    font-size: 14px;
}

.downloadCv {
    display: flex;
    margin-top: 10px;
    height: 35px;
    width: 150px;
    background-color: #009D66;
    color: #fff;
    border: none;
    border-radius: 2%;
    font-size: 14px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.downloadCv:hover {
    background-color: #00754c;
    transition: all 200ms ease-in-out; 
}

.titleProjects {
    color: #fff;
    margin: 50px 0 20px 0;
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
}


.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;

    
}

.carousel-item {
    display: none;
    position: relative;
    text-align: center; 
}

.carousel-item.active {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    line-height: 40px;
}

.carousel-control-prev {
    left: 28%
}

.carousel-control-next {
    right: 28%;
}

.d-block {
    
} 

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.buttonViewMore {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a .viewMore:hover {
        background-color: #00754c;
        transition: all 200ms ease-in-out; 
}

.buttonsCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 600px;
    position: relative;
    bottom: 165px;
}

#contactMeTitle {
    color: #208963;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin: 50px;

}

input, textarea{
    background-color: #2E2E2E;
    border: none;
    border-radius: 10px;
    padding: 20px 15px;
    width: 500px;
    color: #fff;
}

::placeholder {
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

textarea {
    height: 150px;
}

form .btn-submit input {
    width: 150px;
    background-color: #009D66;
    border-radius: 2px;
    cursor: pointer;
}

form .btn-submit input:hover {
        background-color: #00754c;
        transition: all 200ms ease-in-out; 
}

.socialMedia {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    gap: 16px;
}

@media (max-width:1160px) {
    #profilePicture {
        margin: 65px 0 0px 0;
    }

    .myLife {
        display: flex;
        
        color: #fff;
        gap: 16px;
        
    }

    .aboutMe {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 775px) {
    header {
        background-position: 0px;
        background-size: 110rem;
    }
    #info {
        margin: 125px 0 0 30px;
    }
    .rightSide {
        margin: 27px 70px 0 0;
    }
}

@media (max-width: 750px) {
    nav {
        display: flex;
    flex-direction: column;
    align-items: center;
    } 
    
    .leftSide {
        margin: 21px 0 0 0px;
    }

    .rightSide {
        margin: 27px 0 0 0px;
    }
    #info {
        margin: 125px 0 0 10px;
    }
}

@media (max-width: 747px) {
    #info hr {
        display: none;
    }

    #info {
        display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 20px;
    }

    #apresentation {
        margin-left: 20px; 
    }

    header {
        background-position: -211px;
        background-size: 110rem;
    }

    .cvArea {
        grid-template-columns: 40px 150px 40px 150px;
    }

    .carousel-item img {
        max-width: 400px;
        height: auto;
    }

    .buttonsCarousel { 
        gap: 300px;
        bottom: 100px;
    }
}

@media (max-width: 550px) {
    input, textarea {
        width: 300px;
    }

    .cvArea {
        grid-template-columns: 50px 300px;
    }
}

@media (max-width: 410px) {
    .carousel-item img {
        max-width: 300px;
    }
    .buttonsCarousel {
        gap: 240px;
        bottom: 80px;
    }
    .carousel-control-prev, .carousel-control-next {
        height: 42px;
        width: 30px;
    }
}

@media (max-width: 360px) {
    .rightSide {
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    header {
    background-position: -237px;
    background-size: 125rem;
}
}